<?php

declare(strict_types=1);

namespace App\Contracts\UseCases;

use App\Dto\Booking;

interface {{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface extends BaseUseCaseInterface
{
    public function handle(): bool;
}
