<?php

declare(strict_types=1);

namespace App\Contracts\UseCases;

{{- if eq .RequestType "crud" }}
{{- if eq .Method.Camel "get" }}
{{- if .SuccessResponse.IsList }}
use App\Dto\CollectionWithCount;
{{- else }}
use App\Dtos\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- end }}
{{- else if eq .Method.Camel "post" }}
use App\Dtos\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .Method.Camel "put" }}
use App\Dtos\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- end }}
{{- end }}

interface {{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface extends BaseUseCaseInterface
{
{{- if eq .RequestType "crud" }}
{{- if eq .Method.Camel "get" }}
{{- if .SuccessResponse.IsList }}
    public function handle(int $offset, int $limit, string $order, string $direction): CollectionWithCount;
{{- else }}
    public function handle(string $id): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- end }}
{{- else if eq .Method.Camel "post" }}
    public function handle(array $data): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .Method.Camel "put" }}
    public function handle(string $id, array $data): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .Method.Camel "delete" }}
    public function handle(string $id): bool;
{{- end }}
{{- else }}
    public function handle(): bool;
{{- end }}
}
