<?php

declare(strict_types=1);

namespace App\Contracts\UseCases;

{{- if eq .RequestType "crud" }}
{{- if eq .RequestSubType "index" }}
use App\Dto\CollectionWithCount;
{{- else if eq .RequestSubType "get" }}
use App\Dto\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .RequestSubType "create" }}
use App\Dto\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .RequestSubType "update" }}
use App\Dto\{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- end }}
{{- end }}

interface {{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface extends BaseUseCaseInterface
{
{{- if eq .RequestType "crud" }}
{{- if eq .RequestSubType "index" }}
    public function handle(
{{- range .Parameters }}
{{- if eq .In "path" }}
            string ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
            int $offset, int $limit, string $order, string $direction, array $filter = []): CollectionWithCount;
{{- else if eq .RequestSubType "get" }}
    public function handle(
{{- range .Parameters }}
{{- if eq .In "path" }}
            string ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
    ): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .RequestSubType "create" }}
    public function handle(array $data): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .RequestSubType "update" }}
    public function handle(
{{- range .Parameters }}
{{- if eq .In "path" }}
            string ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
         array $data): ?{{ .SuccessResponse.Schema.Name.Singular.Title }};
{{- else if eq .Method.Camel "delete" }}
    public function handle(
{{- range .Parameters }}
{{- if eq .In "path" }}
            string ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
    ): bool;
{{- end }}
{{- else }}
    public function handle(
{{- range .Parameters }}
{{- if eq .In "path" }}
            string ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
    ): bool;
{{- end }}
}
