<?php

declare(strict_types=1);

namespace App\Http\Controllers\Api\App;

use App\Contracts\UseCases\{{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface;
use App\Exceptions\Api\App\APIErrorException;
use App\Http\Controllers\Controller;
{{- if eq .RequestSchemaName.Default.Title "" }}
use App\Http\Requests\Api\App\Request;
{{- else }}
use App\Http\Requests\Api\App\{{ .RequestSchemaName.Default.Title }};
{{- end }}
use App\Http\Resources\Api\App\{{ .SuccessResponse.Schema.Name.Default.Title }};

class {{ .PathName.Default.Title }}{{ .Method.Title }}Controller extends Controller
{
    protected {{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface $useCase;

    public function __construct({{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface $useCase)
    {
        $this->useCase = $useCase;
    }

    /**
     * @throws APIErrorException
     */
    public function __invoke(
{{- range .Parameters }}
{{- if eq .In "path" }}
        {{ .ObjectType }} ${{ .Name.Default.Camel }},
{{- end }}
{{- end }}
{{- if eq .RequestSchemaName.Default.Title "" }}
        Request $request
{{- else }}
        {{ .RequestSchemaName.Default.Title }} $request
{{- end }}
    ): {{ .SuccessResponse.Schema.Name.Default.Title }}
    {
{{- if eq .RequestType "crud" }}
{{- if eq .RequestSubType "index" }}
        $offset = (int) $request->query('offset', 0);
        $limit = (int) $request->query('limit', 20);
        $order = $request->query('order', 'created_at');
        $direction = $request->query('direction', 'asc');

        $collection = $this->useCase->handle($offset, $limit, $order, $direction);

        return new {{ .SuccessResponse.Schema.Name.Plural.Title }}($collection);
{{- else if eq .RequestSubType "get" }}
        $dto = $this->useCase->handle($id);

        return new {{ .SuccessResponse.Schema.Name.Singular.Title }}($dto);
{{- else if eq .RequestSubType "create" }}
        $data = $request->validated();
        $dto = $this->useCase->handle($data);

        return new {{ .SuccessResponse.Schema.Name.Singular.Title }}($dto);
{{- else if eq .RequestSubType "update" }}
        $data = $request->validated();
        $dto = $this->useCase->handle($id, $data);

        return new {{ .SuccessResponse.Schema.Name.Singular.Title }}($dto);
{{- else if eq .RequestSubType "delete" }}
        $status = $this->useCase->handle($id);

        return new Status(new \App\Dto\Status(true));
{{- end }}
{{- else }}
        $success = $this->useCase->handle();
        if (!$success) {
            throw new APIErrorException('something wrong', 400);
        }

        return new {{ .SuccessResponse.Schema.Name.Default.Title }}([]);
{{- end }}
    }
}
