<?php

declare(strict_types=1);

namespace App\Contracts\Services;

use App\Dto\CollectionWithCount;
use App\Models\{{ .Name.Singular.Title }};
use Illuminate\Contracts\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Collection;

interface {{ .Name.Singular.Title }}ServiceInterface extends BaseServiceInterface
{
}
