<?php

declare(strict_types=1);

namespace App\Contracts\Services;

use App\Dto\CollectionWithCount;
use Illuminate\Contracts\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Collection;

{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
use App\Dto\{{ .Singular.Title }};
{{- end }}
{{- end }}

{{- if .IsAuthService }}
interface {{ .Name.Singular.Title }}ServiceInterface extends AuthenticatableServiceInterface
{{- else }}
interface {{ .Name.Singular.Title }}ServiceInterface extends BaseServiceInterface
{{- end }}
{
{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
    // CRUD methods for {{ .Singular.Title }} model

    public function find{{ .Singular.Title }}ById(string $id): ?{{ .Singular.Title }};

    /**
     * @return {{ .Singular.Title }}[]
     */
    public function get{{ .Plural.Title }}(int $offset, int $limit, string $order, string $direction, ?array $filter = null): array;

    public function count{{ .Plural.Title }}(?array $filter = null): int;

    public function create{{ .Singular.Title }}(array $data): ?{{ .Singular.Title }};

    public function update{{ .Singular.Title }}(string $id, array $data): ?{{ .Singular.Title }};

    public function delete{{ .Singular.Title }}(string $id): bool;

{{- end }}
{{- end }}
}
