<?php

declare(strict_types=1);

namespace App\Contracts\Services;

use App\Dto\CollectionWithCount;
use Illuminate\Contracts\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Collection;

{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
{{- if .IsCRUDModel }}
use App\Dto\{{ .Name.Singular.Title }};
{{- end }}
{{- end }}
{{- end }}

{{- if .IsAuthService }}
interface {{ .Name.Singular.Title }}ServiceInterface extends AuthenticatableServiceInterface
{{- else }}
interface {{ .Name.Singular.Title }}ServiceInterface extends BaseServiceInterface
{{- end }}
{
{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
{{- if .IsCRUDModel }}
    // CRUD methods for {{ .Name.Singular.Title }} model

    public function find{{ .Name.Singular.Title }}ById(string $id): ?{{ .Name.Singular.Title }};

    /**
     * @return {{ .Name.Singular.Title }}[]
     */
    public function get{{ .Name.Plural.Title }}(int $offset, int $limit, string $order, string $direction, ?array $filter = null): array;

    public function count{{ .Name.Plural.Title }}(?array $filter = null): int;

    public function create{{ .Name.Singular.Title }}(array $data): ?{{ .Name.Singular.Title }};

    public function update{{ .Name.Singular.Title }}(string $id, array $data): ?{{ .Name.Singular.Title }};

    public function delete{{ .Name.Singular.Title }}(string $id): bool;

{{- end }}
{{- end }}
{{- end }}
}
