<?php

declare(strict_types=1);

namespace App\Http\Resources\Api\App;

use App\Http\Resources\Resource;
{{- if not .HasStatusResponse }}
{{- if .SuccessResponse.IsList }}
use App\Dto\CollectionWithCount;
{{- else }}
use App\Dto\{{ .SuccessResponse.Schema.Name.Singular.Title }} as {{ .SuccessResponse.Schema.Name.Singular.Title }}Dto;
{{- end }}
{{- else }}
use App\Dto\Status as StatusDto;
{{- end }}
use Illuminate\Contracts\Support\Arrayable;
use Illuminate\Http\Request;

class {{ .SuccessResponse.Schema.Name.Default.Title }} extends Resource
{
    protected array $columns = [
{{- range .SuccessResponse.Schema.Properties}}
        '{{ .Name.Original }}' => {{ if eq .Type "array" }}[]{{ else }}''{{ end }},
{{- end}}
    ];

    /**
     * {{ .SuccessResponse.Schema.Name.Default.Title }} constructor.
     *
     * @param mixed $resource
     */
{{- if not .HasStatusResponse }}
{{- if not .SuccessResponse.IsList }}
    public function __construct({{ .SuccessResponse.Schema.Name.Singular.Title }}Dto $resource)
{{- else }}
    public function __construct(CollectionWithCount $resource)
{{- end }}
{{- else }}
    public function __construct(StatusDto $resource)
{{- end }}
    {
        parent::__construct($resource);
    }

    /**
     * Transform the resource into an array.
     *
     * @param Request $request
     */
    public function toArray($request): array|\JsonSerializable|Arrayable
    {
        $result = [
{{- if ne .SuccessResponse.RelatedEntity nil }}
{{- range .SuccessResponse.Schema.Properties}}
            '{{ .Name.Original }}' => $this->resource->{{ .Name.Original }},
{{- end }}
{{- else }}
{{- range .SuccessResponse.Schema.Properties}}
            '{{ .Name.Original }}' => {{if eq .Type "array" }}[]{{ else }}''{{ end}},
{{- end }}
{{- end }}

        ];
        return $result;
    }
}
