<?php

declare(strict_types=1);

namespace App\Contracts\Services;

use App\Dto\CollectionWithCount;
use App\Models\{{ .PathName.Singular.Title }};
use Illuminate\Contracts\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Collection;

interface {{ .PathName.Singular.Title }}ServiceInterface extends BaseServiceInterface
{
    public function exec(): null;
}
