<?php

declare(strict_types=1);

namespace App\Services;

{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
use App\Contracts\Repositories\{{ .Name.Singular.Title }}RepositoryInterface;
{{- end }}

{{- range .RelatedModels}}
{{- if .IsCRUDModel }}
use App\Dto\{{ .Name.Singular.Title }};
{{- end }}
{{- end }}
{{- end }}

use App\Contracts\Services\{{ .Name.Singular.Title }}ServiceInterface;
use App\Exceptions\Services\ClientSideException;
use Illuminate\Support\Facades\DB;
use Throwable;

{{- if .IsAuthService }}
class {{ .Name.Singular.Title }}Service extends AuthenticatableService implements {{ .Name.Singular.Title }}ServiceInterface
{{- else }}
class {{ .Name.Singular.Title }}Service extends BaseService implements {{ .Name.Singular.Title }}ServiceInterface
{{- end }}
{

{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
    protected {{ .Name.Singular.Title }}RepositoryInterface ${{ .Name.Singular.Camel }}Repository;
{{- end}}

    public function __construct(
{{- range .RelatedModels}}
        {{ .Name.Singular.Title }}RepositoryInterface ${{ .Name.Singular.Camel }}Repository,
{{- end}}
    ) {
{{- if .IsAuthService }}
        parent::__construct(
{{- range .RelatedModels}}
            ${{ .Name.Singular.Camel }}Repository,
{{- end}}
        );
{{- end}}
{{- range .RelatedModels}}
        $this->{{ .Name.Singular.Camel }}Repository = ${{ .Name.Singular.Camel }}Repository;
{{- end}}
    }
{{- else }}
    public function __construct(
    ) {
    }
{{- end }}

{{- if ne .RelatedModels nil }}
{{- range .RelatedModels}}
{{- if .IsCRUDModel }}
    // CRUD methods for {{ .Name.Singular.Title }} model

    public function find{{ .Name.Singular.Title }}ById(string $id): ?{{ .Name.Singular.Title }}
    {
        $model = $this->{{ .Name.Singular.Camel }}Repository->find($id);
        if (empty($model)) {
            return null;
        }
        return {{ .Name.Singular.Title }}::createFromModel($model);
    }

    /**
     * @return {{ .Name.Singular.Title }}[]
     */
    public function get{{ .Name.Plural.Title }}(int $offset, int $limit, string $order, string $direction, ?array $filter = null): array
    {
        $models = $this->{{ .Name.Singular.Camel }}Repository->getByFilter(
            $filter,
            $order,
            $direction,
            $offset,
            $limit,
        );
        $result = [];
        foreach ($models as $model) {
            $result[] = {{ .Name.Singular.Title }}::createFromModel($model);
        }

        return $result;
    }

    public function count{{ .Name.Plural.Title }}(?array $filter = null): int
    {
        return $this->{{ .Name.Singular.Camel }}Repository->countByFilter($filter);
    }

    /**
     * @throws Throwable
     */
    public function create{{ .Name.Singular.Title }}(array $data): ?{{ .Name.Singular.Title }}
    {
        try {
            DB::beginTransaction();
            $model = $this->{{ .Name.Singular.Camel }}Repository->create($data);
            DB::commit();
        } catch (Throwable $ex) {
            DB::rollback();
            throw $ex;
        }

        return $this->find{{ .Name.Singular.Title }}ById($model->id);
    }

    /**
     * @throws ClientSideException
     * @throws Throwable
     */
    public function update{{ .Name.Singular.Title }}(string $id, array $data): ?{{ .Name.Singular.Title }}
    {
        $model = $this->{{ .Name.Singular.Camel }}Repository->find($id);
        if (empty($model)) {
            throw new ClientSideException('{{ .Name.Singular.Title }} not found', 404);
        }

        try {
            DB::beginTransaction();
            $model = $this->{{ .Name.Singular.Camel }}Repository->update($model, $data);
            DB::commit();
        } catch (Throwable $ex) {
            DB::rollback();
            throw $ex;
        }

        return $this->find{{ .Name.Singular.Title }}ById($model->id);
    }

    /**
     * @throws ClientSideException
     * @throws Throwable
     */
    public function delete{{ .Name.Singular.Title }}(string $id): bool
    {
        $model = $this->{{ .Name.Singular.Camel }}Repository->find($id);
        if (empty($model)) {
            throw new ClientSideException('{{ .Name.Singular.Title }} not found', 404);
        }

        try {
            DB::beginTransaction();
            $model = $this->{{ .Name.Singular.Camel }}Repository->delete($model);
            DB::commit();
        } catch (Throwable $ex) {
            DB::rollback();
            throw $ex;
        }

        return true;
    }

{{- end }}
{{- end }}
{{- end }}
{{- if .IsAuthService }}
    public function getGuardName(): string
    {
        return 'app';
    }
{{- end }}
}
