<?php

namespace Database\Factories;

use Illuminate\Database\Eloquent\Factories\Factory;

/**
 * @extends \Illuminate\Database\Eloquent\Factories\Factory<\App\Models\{{ .Name.Singular.Title }}>
 */
class {{ .Name.Singular.Title }}Factory extends Factory
{
    /**
     * Define the model's default state.
     *
     * @return array<string, mixed>
     */
    public function definition(): array
    {
        return [
{{- range .Columns}}
{{- if not .Primary }}
{{- if not .IsSystemUseColumn }}
            '{{ .Name.Original }}' => fake()->{{ .FakerType }},
{{- end }}
{{- end }}
{{- end }}
        ];
    }
}
