<?php

declare(strict_types=1);

namespace Tests\Unit\UseCases;

use App\Contracts\UseCases\App\{{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface;
use Illuminate\Contracts\Container\BindingResolutionException;
use Tests\TestCase;

/**
 * @internal
 *
 * @coversNothing
 */
final class {{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseTest extends TestCase
{
    /**
     * Test {{ .Method.Title }}{{ .PathName.Default.Title }}UseCase create.
     *
     * @throws BindingResolutionException
     */
    public function testCreate{{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInstanceSuccessfully(): void
    {
        $useCase = app()->make({{ .Method.Title }}{{ .PathName.Default.Title }}UseCaseInterface::class);
        static::assertNotNull($useCase);
    }
}
