<?php

declare(strict_types=1);

namespace Tests\Unit\Services;

use App\Contracts\Services\{{ .PathName.Singular.Title }}ServiceInterface;
use Illuminate\Contracts\Container\BindingResolutionException;
use Tests\TestCase;

/**
 * @internal
 *
 * @coversNothing
 */
final class {{ .PathName.Singular.Title }}ServiceTest extends TestCase
{
    /**
     * Test {{ .PathName.Singular.Title }}Service create.
     *
     * @throws BindingResolutionException
     */
    public function testCreate{{ .PathName.Singular.Title }}ServiceInstanceSuccessfully(): void
    {
        $service = app()->make({{ .PathName.Singular.Title }}ServiceInterface::class);
        static::assertNotNull($service);
    }
}
